img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  margin-right: 30px;
  height: 30px;
}

button {
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  height: 30px;
}

.btn-load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 120px;
}

.load-more {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  height: 300px;
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

// .stats-item {
//   // margin-top: 0;
//   margin-bottom: auto;
// }
